In [18]:
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, ForeignKey, Text, SmallInteger, Boolean, DateTime, func, Float, inspect
from sqlalchemy.dialects.postgresql import insert
from sqlalchemy import text

In [2]:
# PostgreSQL credentials and database name
DATABASE_URI = 'postgresql://tolubai:password@localhost:5432/movies_db'
engine = create_engine(DATABASE_URI)
metadata = MetaData()

In [3]:
df = pd.read_csv('/Users/tolubai/Desktop/csci_final_project/datasets/movies_with_embeddings.csv')

# Split comma-separated values and trim whitespace
def clean_and_split(cell):
    if pd.isna(cell):
        return []
    return [x.strip() for x in cell.split(',') if x.strip()]

In [4]:
with engine.begin() as conn:
    conn.execute(text(
        "DROP TABLE IF EXISTS movie_studios, movie_genres, movie_producers, movie_cast, movies CASCADE"
    ))

In [5]:
# Normalize and Insert Unique Entities

# Years table
years_df = pd.DataFrame({'year_value': sorted(df['Year'].dropna().unique())})
years_df.to_sql('years', engine, if_exists='replace', index=True, index_label='year_id')

# Directors table
directors_df = pd.DataFrame({'director_name': sorted(df['Director'].dropna().unique())})
directors_df.to_sql('directors', engine, if_exists='replace', index=True, index_label='director_id')

# Studios table (extract unique studios from comma-separated values)
all_studios = set()
df['Studios'].dropna().apply(lambda x: all_studios.update(clean_and_split(x)))
studios_df = pd.DataFrame({'studio_name': sorted(all_studios)})
studios_df.to_sql('studios', engine, if_exists='replace', index=True, index_label='studio_id')

# Genres table
all_genres = set()
df['Genre'].dropna().apply(lambda x: all_genres.update(clean_and_split(x)))
genres_df = pd.DataFrame({'genre_name': sorted(all_genres)})
genres_df.to_sql('genres', engine, if_exists='replace', index=True, index_label='genre_id')

# Producers table
all_producers = set()
df['Producers'].dropna().apply(lambda x: all_producers.update(clean_and_split(x)))
producers_df = pd.DataFrame({'producer_name': sorted(all_producers)})
producers_df.to_sql('producers', engine, if_exists='replace', index=True, index_label='producer_id')

# Cast members table
all_cast = set()
df['Cast'].dropna().apply(lambda x: all_cast.update(clean_and_split(x)))
cast_df = pd.DataFrame({'cast_name': sorted(all_cast)})
cast_df.to_sql('cast_members', engine, if_exists='replace', index=True, index_label='cast_id')

735

In [6]:
# Build Mapping Dictionaries
# Retrieve tables back from the database to get auto-generated IDs

_years = pd.read_sql_table('years', engine)
_years = _years.reset_index().rename(columns={'index': 'year_id'})

_directors = pd.read_sql_table('directors', engine)
_directors = _directors.reset_index().rename(columns={'index': 'director_id'})

_studios = pd.read_sql_table('studios', engine)
_studios = _studios.reset_index().rename(columns={'index': 'studio_id'})

_genres = pd.read_sql_table('genres', engine)
_genres = _genres.reset_index().rename(columns={'index': 'genre_id'})

_producers = pd.read_sql_table('producers', engine)
_producers = _producers.reset_index().rename(columns={'index': 'producer_id'})

_cast = pd.read_sql_table('cast_members', engine)
_cast = _cast.reset_index().rename(columns={'index': 'cast_id'})

year_map = dict(zip(_years['year_value'], _years['year_id']))
director_map = dict(zip(_directors['director_name'], _directors['director_id']))
studio_map = dict(zip(_studios['studio_name'], _studios['studio_id']))
genre_map = dict(zip(_genres['genre_name'], _genres['genre_id']))
producer_map = dict(zip(_producers['producer_name'], _producers['producer_id']))
cast_map = dict(zip(_cast['cast_name'], _cast['cast_id']))

In [12]:
# 1) Map Year/Director to IDs (may produce NaN)
df['year_id']     = df['Year'].map(year_map)
df['director_id'] = df['Director'].map(director_map)

# 2) **Coerce everything to numbers**, turning anything non-numeric into <NA>
df['year_id']     = pd.to_numeric(df['year_id'],     errors='coerce').astype('Int64')
df['director_id'] = pd.to_numeric(df['director_id'], errors='coerce').astype('Int64')

# 3) Rename your movie columns
movies_df = df.rename(columns={
    'Title':            'title',
    'Description':      'description',
    'AvgRating':        'avg_rating',
    'Duration':         'duration',
    'Poster URL':       'poster_url',
    'Page URL':         'page_url',
    'embeddings_minilm':'embeddings'
})

# 4) Select the exact columns you need
movies_to_insert = movies_df[[
    'title','description','avg_rating','duration',
    'poster_url','page_url','year_id','director_id','embeddings'
]].copy()

# 5) Keep your orig_index for stable ID retrieval
movies_to_insert['orig_index'] = movies_df.index

# 6) Write out the table with explicit SQL types
movies_to_insert.to_sql(
    'movies', engine,
    if_exists='replace',
    index=True, index_label='movie_id',
    dtype={
      'movie_id':    Integer(),
      'title':       Text(),
      'description': Text(),
      'avg_rating':  Float(),
      'duration':    Integer(),
      'poster_url':  Text(),
      'page_url':    Text(),
      'year_id':     Integer(),   # now true INT in Postgres
      'director_id': Integer(),
      'embeddings':  Text(),
      'orig_index':  Integer()
    }
)

967

In [13]:
with engine.begin() as conn:
    conn.execute(text(
        "ALTER TABLE movies    ADD CONSTRAINT movies_pkey    PRIMARY KEY (movie_id)"
    ))
    conn.execute(text(
        "ALTER TABLE directors ADD CONSTRAINT directors_pkey PRIMARY KEY (director_id)"
    ))
    conn.execute(text(
        "ALTER TABLE years     ADD CONSTRAINT years_pkey     PRIMARY KEY (year_id)"
    ))
    conn.execute(text(
        "ALTER TABLE studios   ADD CONSTRAINT studios_pkey   PRIMARY KEY (studio_id)"
    ))
    conn.execute(text(
        "ALTER TABLE genres    ADD CONSTRAINT genres_pkey    PRIMARY KEY (genre_id)"
    ))
    conn.execute(text(
        "ALTER TABLE producers ADD CONSTRAINT producers_pkey PRIMARY KEY (producer_id)"
    ))
    conn.execute(text(
        "ALTER TABLE cast_members ADD CONSTRAINT cast_members_pkey PRIMARY KEY (cast_id)"
    ))

metadata = MetaData()
metadata.reflect(bind=engine, only=[
    'movies','directors','years','studios','genres','producers','cast_members'
])

In [14]:
# Define your engine
DATABASE_URI = 'postgresql://tolubai:password@localhost:5432/movies_db'
engine = create_engine(DATABASE_URI)

# Initialize metadata
metadata = MetaData()
metadata.reflect(bind=engine,
                 only=['movies', 'studios', 'genres', 'producers', 'cast_members'])

# Define the linking table for movies and studios
movie_studios = Table('movie_studios', metadata,
    Column('movie_id', Integer, ForeignKey('movies.movie_id'), primary_key=True),
    Column('studio_id', Integer, ForeignKey('studios.studio_id'), primary_key=True)
)

# Similarly, define the other linking tables:
movie_genres = Table('movie_genres', metadata,
    Column('movie_id', Integer, ForeignKey('movies.movie_id'), primary_key=True),
    Column('genre_id', Integer, ForeignKey('genres.genre_id'), primary_key=True)
)

movie_producers = Table('movie_producers', metadata,
    Column('movie_id', Integer, ForeignKey('movies.movie_id'), primary_key=True),
    Column('producer_id', Integer, ForeignKey('producers.producer_id'), primary_key=True)
)

movie_cast = Table('movie_cast', metadata,
    Column('movie_id', Integer, ForeignKey('movies.movie_id'), primary_key=True),
    Column('cast_id', Integer, ForeignKey('cast_members.cast_id'), primary_key=True)
)

# Create all the tables (if they don't already exist)
metadata.create_all(engine, tables=[
    movie_studios, movie_genres, movie_producers, movie_cast
])

In [15]:
# Populate Linking Tables
# Use SQLAlchemy Core to insert into linking tables for studios, genres, producers, and cast
metadata = MetaData()
metadata.reflect(bind=engine, only=[
  'movies','studios','genres','producers','cast_members'
])

movie_studios_table = Table('movie_studios', metadata, autoload_with=engine)
movie_genres_table = Table('movie_genres', metadata, autoload_with=engine)
movie_producers_table = Table('movie_producers', metadata, autoload_with=engine)
movie_cast_table = Table('movie_cast', metadata, autoload_with=engine)

# Build mapping dicts with plain Python ints
year_map     = {row.year_value: int(row.year_id)             for row in _years.itertuples()}
director_map = {row.director_name: int(row.director_id)      for row in _directors.itertuples()}
studio_map   = {row.studio_name: int(row.studio_id)          for row in _studios.itertuples()}
genre_map    = {row.genre_name: int(row.genre_id)            for row in _genres.itertuples()}
producer_map = {row.producer_name: int(row.producer_id)      for row in _producers.itertuples()}
cast_map     = {row.cast_name: int(row.cast_id)              for row in _cast.itertuples()}

_movies_db = pd.read_sql_query("SELECT * FROM movies ORDER BY orig_index", engine)
_movies_db['movie_id'] = _movies_db['movie_id'].astype(int)

conn = engine.connect()

for idx, row in df.iterrows():
    movie_id = int(_movies_db.loc[_movies_db['orig_index']==idx, 'movie_id'].iloc[0])

    # Studios
    for studio in clean_and_split(row['Studios']):
        sid = studio_map.get(studio)
        if sid is not None:
            stmt = insert(movie_studios_table).values(
                movie_id=movie_id,
                studio_id=sid
            ).on_conflict_do_nothing(
                index_elements=['movie_id','studio_id']
            )
            conn.execute(stmt)

    # Genres
    for genre in clean_and_split(row['Genre']):
        gid = genre_map.get(genre)
        if gid is not None:
            stmt = insert(movie_genres_table).values(
                movie_id=movie_id,
                genre_id=gid
            ).on_conflict_do_nothing(
                index_elements=['movie_id','genre_id']
            )
            conn.execute(stmt)

    # Producers
    for producer in clean_and_split(row['Producers']):
        pid = producer_map.get(producer)
        if pid is not None:
            stmt = insert(movie_producers_table).values(
                movie_id=movie_id,
                producer_id=pid
            ).on_conflict_do_nothing(
                index_elements=['movie_id','producer_id']
            )
            conn.execute(stmt)

    # Cast
    for cast_member in clean_and_split(row['Cast']):
        cid = cast_map.get(cast_member)
        if cid is not None:
            stmt = insert(movie_cast_table).values(
                movie_id=movie_id,
                cast_id=cid
            ).on_conflict_do_nothing(
                index_elements=['movie_id','cast_id']
            )
            conn.execute(stmt)

conn.close()

In [20]:
# connect
engine   = create_engine('postgresql://tolubai:password@localhost:5432/movies_db')
metadata = MetaData()

# inspect existing tables
inspector = inspect(engine)
existing = inspector.get_table_names()

new_tables = []

# users
if 'users' not in existing:
    users = Table(
        'users', metadata,
        Column('user_id',    Integer, primary_key=True),
        Column('email',      Text,    unique=True, nullable=False),
        Column('password',   Text,    nullable=False),
        Column('is_admin',   Boolean, nullable=False, default=False),
        Column('created_at', DateTime, server_default=func.now()),
        extend_existing=True
    )
    new_tables.append(users)

# favorites
if 'favorites' not in existing:
    favorites = Table(
        'favorites', metadata,
        Column('user_id',  Integer, ForeignKey('users.user_id'),   primary_key=True),
        Column('movie_id', Integer, ForeignKey('movies.movie_id'), primary_key=True),
        Column('added_at', DateTime, server_default=func.now()),
        extend_existing=True
    )
    new_tables.append(favorites)

# ratings
if 'ratings' not in existing:
    ratings = Table(
        'ratings', metadata,
        Column('user_id',  Integer, ForeignKey('users.user_id'),   primary_key=True),
        Column('movie_id', Integer, ForeignKey('movies.movie_id'), primary_key=True),
        Column('rating',   SmallInteger, nullable=False),
        Column('rated_at', DateTime, server_default=func.now()),
        extend_existing=True
    )
    new_tables.append(ratings)

# create only missing
if new_tables:
    metadata.create_all(engine, tables=new_tables)
    print("✅ Created tables:", [t.name for t in new_tables])
else:
    print("ℹ️ All tables already exist; nothing to do.")

ℹ️ All tables already exist; nothing to do.